<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>EDLaunchScreen</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <string>clean memory</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>用于创建打卡规则，获取打卡定位、发送位置等。</string>
    <key>DTPlatformVersion</key>
    <string>17.4</string>
    <key>UISupportsDocumentBrowser</key>
    <true/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>DTSDKBuild</key>
    <string>21E210</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>如果不允许，你将无法使用拍摄照片和视频，也无法使用扫一扫、人脸采集等功能。</string>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>人人通空间</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>com.whyj.communication</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.microsoft.powerpoint.ppt</string>
          <string>com.microsoft.word.doc</string>
          <string>com.microsoft.excel.xls</string>
          <string>com.adobe.pdf</string>
          <string>public.image</string>
          <string>public.composite-content</string>
          <string>public.content</string>
          <string>public.archive</string>
          <string>public.audio</string>
          <string>public.movie</string>
          <string>public.text</string>
          <string>public.html</string>
          <string>public.data</string>
        </array>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>LSHandlerRank</key>
        <string>Default</string>
      </dict>
    </array>
    <key>DTXcodeBuild</key>
    <string>15E204a</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.whyj.communication</string>
        <key>UTTypeIconFiles</key>
        <array/>
        <key>UTTypeTagSpecification</key>
        <dict/>
      </dict>
    </array>
    <key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
    <true/>
    <key>CFBundleIdentifier</key>
    <string>com.whyj.communication</string>
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>BugAppId</key>
    <string>f4e96ed75f</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>wechat</string>
      <string>weixin</string>
      <string>weixinULAPI</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>wtloginmqq2</string>
      <string>mqq</string>
      <string>mqqapi</string>
      <string>timapi</string>
      <string>mqzoneopensdk</string>
      <string>mqzoneopensdkapi</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqopensdkapiV4</string>
      <string>wtloginmqq2</string>
      <string>mqqwpa</string>
      <string>mqzone</string>
      <string>edusoanmpx</string>
      <string>openiphoenixmain</string>
      <string>iOShdjyUniqueScheme</string>
      <string>tim</string>
      <string>dingtalk</string>
      <string>dingtalk-open</string>
      <string>dingtalk-sso</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSUserTrackingUsageDescription</key>
    <string>能够较精准的识别用户，能帮助我们最大程度的追踪您在使用APP时的问题</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UIMainStoryboardFile</key>
    <string>EDLaunchScreen</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>12.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>如果不允许，你将无法保存图片和视频到系统相册。</string>
    <key>CFBundleName</key>
    <string>OnlineStudySpace</string>
    <key>CFBundleShortVersionString</key>
    <string>7.1.1</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>MOBAppSecret</key>
    <string>f8d3b377014ea890aa5537c74df6b0dc</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UTImportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.whyj.communication</string>
        <key>UTTypeIconFiles</key>
        <array/>
        <key>UTTypeTagSpecification</key>
        <dict/>
      </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>OnlineStudySpace</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
      <key>PreciseLocation</key>
      <string>考勤打卡需要定位您的精确位置</string>
    </dict>
    <key>NSLocalNetworkUsageDescription</key>
    <string>移动讲台需要使用局域网组播搜索附近的互动课堂</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>如果不允许，你将无法从媒体资料库选择音乐用于发布文章的背景音乐。</string>
    <key>DTAppStoreToolsBuild</key>
    <string>15F31e</string>
    <key>BuildMachineOSBuild</key>
    <string>23E224</string>
    <key>NSCalendarsUsageDescription</key>
    <string>如果不允许，你将无法记录会议日期到你的日历。</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>如果不允许，你将无法发送语音消息，或进行音频录制上传。</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <false/>
      <key>UISceneConfigurations</key>
      <dict/>
    </dict>
    <key>MOBAppkey</key>
    <string>3345fc71b9398</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>用于创建打卡规则，获取打卡定位、发送位置等。</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>rrtShare</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>osspace</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>rrt</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wxef853ed61da1a593</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>QQ0613b5c6</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent101955014</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>whtyapp</string>
        </array>
      </dict>
    </array>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>用于创建打卡规则，获取打卡定位、发送位置等。</string>
    <key>MOBNetLater</key>
    <string>2</string>
    <key>DTSDKName</key>
    <string>iphoneos17.4</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>qq.com</key>
        <dict>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>aliyuncs.com</key>
        <dict>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>huijiaoyun.com</key>
        <dict>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>youdao.com</key>
        <dict>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>myqcloud.com</key>
        <dict>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>weibo.cn</key>
        <dict>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>weibo.com</key>
        <dict>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>DTPlatformBuild</key>
    <string>21E210</string>
    <key>NSContactsUsageDescription</key>
    <string>打电话、发短信功能需要使用您的通讯录</string>
    <key>DTXcode</key>
    <string>1530</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>请「允许访问所有照片」，以保证能正常访问相册，用于发送照片消息或进行照片上传。如果使用「选择照片」，则所有未选中的，以及未来新增的照片都将无法在App中访问。</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
  </dict>
</plist>
